{% extends 'base.html' %}
{% block body_block %}
<br>
<h1 class="d-inline">여기는 인덱스 페이지 입니다!</h1>
<!--<h4 class="d-inline mx-auto bg-warning text-success" style="width:200px">이건 어디로 갈까?</h4>-->
<!--<h4 class="border border-info rounded-circle py-4 ml-3" style="width:150px">룰루랄라</h4>-->
<!--<h4 class="d-none border border-success py-4 ml-3 rounded-pill" style="width:150px">안뇽</h4>-->
<!--<a herf="" class="d-sm-none btn btn-danger d-block ">위험해!!!!</a>-->
<!--<a herf="" class="btn btn-danger d-block ">위험해!!!!</a>-->

<!--<div class="bg-danger m-3 position-relative" style="width:100px;height:100px;top:50px;left:50px">-->
<!--    <div class="bg-primary m-3 position-relative" style="width:100px;height:100px;top:50px"></div>-->
<!--</div>-->


{% endblock %}