<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body style="background:#00b2ff">
    
    <div class="header">
        <ul class="sites">
            <li class="site site--current site--border" data-site="lol">
                <a href="/"><img src="//opgg-static.akamaized.net/images/logo/logo-lol.png" alt="" class="site__logo" style="position: absolute; left:50px; top:10px;">
                <span class="site__name" style="position: absolute; left:100px; top:10px;">
                    <img src="//opgg-static.akamaized.net/images/logo/l_logo.png">
                </span>
                
                <a class="gnb-btn-login" href="https://member.op.gg?redirect_url=http%3A%2F%2Fwww.op.gg%2F" style="position: absolute; right:30px; top:10px;"><button type="button" class="btn btn-primary">
                    로그인
                </button></a>
            </li>
          </ul>
    </div>          
       
     
    <div class="d-flex justify-content-center">
        <img src="https://attach.s.op.gg/logo/20190116130732.202e95cdd4c55b505438ecb77b263fff.PNG" title="진, 커튼콜" alt="OP.GG Logo (진, 커튼콜)">
    </div>
    
    <div class="text-center" style="my-3">
    <form action="/summoner">
        <input type="text" name="summoner" class="summoner-search-form__text" style="width:500px" placeholder="소환사명, 소환사명, ..." >
        <input type="submit" value=".GG" />
    </form>
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>